.titulo{
    font-weight: 500 !important;
    
}

#content-area{
    padding-right: 5% !important;
    padding-left: 2% !important;

}

.btn-primary{
    background-color: #de5b02;
    border-color: #de5b02;
}

#sidebar {
    position: fixed;
    top: 70;
    left: 0;
    height: 100%;
    width: 250px; /* O ajusta el tamaño a tu preferencia */

}

.form-label{
    padding-top: 10px;
}

#palabrasClave{
    background-color: rgb(255, 255, 255) !important;
}

thead{
    background-color: #283d69;
    color: azure;
}

.sidebar.collapsed {
    transform: translateX(-250px);
    /* Mueve el sidebar fuera de la vista */
}

/* Aseguramos que el sidebar ocupe el 100% de la altura de la ventana */
#sidebar {
    height: 100vh;
    box-shadow: 3px 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra a la derecha */
}

#addFileForm{
    background-color: rgb(241, 240, 240);
    height: 70px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
}

/* Aseguramos que el contenido principal ocupe el resto del espacio */
main {
    padding-top: 20px;
    height: 100vh;
    overflow-y: auto;
}

/* Estilo para los enlaces de categoría */
.nav-link {
    display: flex;
    align-items: center;
}



/* Alineación de la flecha a la izquierda */
.arrow-icon {
    margin-right: 10px;
    /* Mover la flecha a la izquierda */
    transition: transform 0.3s ease;
}

/* Estilo para las subcategorías (más cerca de la izquierda) */
.nav .nav-item .collapse {
    padding-left: 0;
   
    /* Sin indentación, más hacia la izquierda */
}

.menu{
    text-align: left !important;
}

.load-entry{
    color: #283d69 !important;
}
/* Estilo para las subcategorías de segundo nivel */
.nav .nav-item .collapse .nav-link {
    padding-left: 20px;
    /* Distancia de las subcategorías respecto a la categoría principal */
}

/* Cambio de dirección de la flecha cuando se expande el menú */
.collapsed+.collapse.show .arrow-icon {
    transform: rotate(90deg);
    /* Cambiar la flecha de abajo a derecha (>) */
}

.search-div{
    margin-left: 100px;
}

